<a href="https://colab.research.google.com/github/Edakksm/Deep-Learning/blob/master/BERT_Smitha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install pytorch-pretrained-bert pytorch-nlp

import tensorflow as tf
import torch
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from pytorch_pretrained_bert import BertForSequenceClassification, BertAdam, BertConfig, BertTokenizer
import pandas as pd
import io
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Requirement already satisfied: pytorch-pretrained-bert in /usr/local/lib/python3.6/dist-packages (0.6.2)
Requirement already satisfied: pytorch-nlp in /usr/local/lib/python3.6/dist-packages (0.5.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from pytorch-pretrained-bert) (4.28.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pytorch-pretrained-bert) (2.21.0)
Requirement already satisfied: regex in /usr/local/lib/python3.6/dist-packages (from pytorch-pretrained-bert) (2019.12.20)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pytorch-pretrained-bert) (1.17.5)
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from pytorch-pretrained-bert) (1.10.47)
Requirement already satisfied: torch>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from pytorch-pretrained-bert) (1.3.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pytorch-pretrained-bert) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pytorch-pretrained-bert) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pytorch-pretrained-bert) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pytorch-pretrained-bert) (3.0.4)
Requirement already satisfied: botocore<1.14.0,>=1.13.47 in /usr/local/lib/python3.6/dist-packages (from boto3->pytorch-pretrained-bert) (1.13.47)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->pytorch-pretrained-bert) (0.9.4)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from boto3->pytorch-pretrained-bert) (0.2.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /usr/local/lib/python3.6/dist-packages (from botocore<1.14.0,>=1.13.47->boto3->pytorch-pretrained-bert) (2.6.1)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.14.0,>=1.13.47->boto3->pytorch-pretrained-bert) (0.15.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<3.0.0,>=2.1; python_version >= "2.7"->botocore<1.14.0,>=1.13.47->boto3->pytorch-pretrained-bert) (1.12.0)

In [5]:
device_name = tf.test.gpu_device_name
print(device_name)
if device_name != '/device:GPU:0':
  print("GPU Not found")
else:
  print("GPU Found")

<function gpu_device_name at 0x7f11d21f7510>
GPU Not found

In [0]:
df = pd.read_csv('in_domain_train.tsv', delimiter='\t', header=None, names=['sentence_source','label','label_notes','sentence'])

In [6]:
df.head()

  sentence_source  ...                                           sentence
0            gj04  ...  Our friends won't buy this analysis, let alone...
1            gj04  ...  One more pseudo generalization and I'm giving up.
2            gj04  ...   One more pseudo generalization or I'm giving up.
3            gj04  ...     The more we study verbs, the crazier they get.
4            gj04  ...          Day by day the facts are getting murkier.

[5 rows x 4 columns]

In [7]:
df.shape

(8551, 4)

In [8]:
df.sample(10)

     sentence_source  ...                                           sentence
6443            d_98  ...                    Mary picked any of the flowers.
5520            b_73  ...  I've never seen the one taller man than my fat...
990             bc01  ...  The testing of such drugs on oneself is too ri...
2868            l-93  ...                     That chisel carved the statue.
6671            m_02  ...  What did the wealthy young man buy for his sec...
2471            l-93  ...                                        Sarah sang.
6150            c_13  ...                               I sent Louis a book.
7561           sks13  ...                              the girls likes them.
8427            ad03  ...                        The dragons were slain all.
1620            r-67  ...  Swimming is fun, and I believe that people who...

[10 rows x 4 columns]

In [0]:
sentences = df.sentence

In [10]:
sentences

0       Our friends won't buy this analysis, let alone...
1       One more pseudo generalization and I'm giving up.
2        One more pseudo generalization or I'm giving up.
3          The more we study verbs, the crazier they get.
4               Day by day the facts are getting murkier.
                              ...
8546                     Poseidon appears to own a dragon
8547                       Digitize is my happiest memory
8548                       It is easy to slay the Gorgon.
8549         I had the strangest feeling that I knew you.
8550                  What all did you get for Christmas?
Name: sentence, Length: 8551, dtype: object

In [0]:
sentences = [ "[CLS] " + sentence + " [SEP]" for sentence in sentences]

In [15]:
sentences[0]

"[CLS] Our friends won't buy this analysis, let alone the next one we propose. [SEP]"

In [0]:
# Import BERT Tokenizer

In [17]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
tokenized_texts = [tokenizer.tokenize(sent) for sent in sentences]
tokenized_texts[0]

100%|██████████| 231508/231508 [00:00<00:00, 2694090.66B/s]

['[CLS]',
 'our',
 'friends',
 'won',
 "'",
 't',
 'buy',
 'this',
 'analysis',
 ',',
 'let',
 'alone',
 'the',
 'next',
 'one',
 'we',
 'propose',
 '.',
 '[SEP]']

In [18]:
print(tokenized_texts[0])

['[CLS]', 'our', 'friends', 'won', "'", 't', 'buy', 'this', 'analysis', ',', 'let', 'alone', 'the', 'next', 'one', 'we', 'propose', '.', '[SEP]']

In [0]:
# Pad sequences

In [0]:
MAX_LEN = 128

In [0]:
input_ids = [ tokenizer.convert_tokens_to_ids(token) for token in tokenized_texts]

In [23]:
print(input_ids[0])

[101, 2256, 2814, 2180, 1005, 1056, 4965, 2023, 4106, 1010, 2292, 2894, 1996, 2279, 2028, 2057, 16599, 1012, 102]

In [24]:
len(input_ids[0])

19

In [25]:
len(input_ids[1])

14

In [0]:
input_ids = pad_sequences(input_ids, MAX_LEN, padding="post", truncating="post", dtype="long")

In [27]:
len(input_ids[0])

128

In [28]:
print(input_ids[0])

[  101  2256  2814  2180  1005  1056  4965  2023  4106  1010  2292  2894
  1996  2279  2028  2057 16599  1012   102     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0]

In [0]:
attention_masks =[]
for seq in input_ids:
  seq_mask = [float(i>0) for i in seq]
  attention_masks.append(seq_mask)

In [31]:
print(attention_masks[0])

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [0]:
# split into train and validation sets
labels = df.label.values
train_inputs, validation_inputs, train_labels, validation_labels = train_test_split(input_ids, labels, random_state=2018, test_size=0.1)

In [35]:
train_inputs.shape

(7695, 128)